.bg-banner {
}

.bg-img-container {
    display: flex;
    max-height: 223px;
    max-width: 1240px;
    background-color: #000000;
    border-radius: 25px;
    z-index: 1;
}

.bg-img {
    object-fit: cover;
    opacity: 0.7;
    border-radius: 25px;
}

.bg-title-container {
    display: flex;
    justify-content: center;
}

.home-title {
    position: absolute;
    top: 140px;
    z-index: 1;
    color: white;
}
