.img-container {
    display: flex;
    background-color: #000000;
    overflow: hidden;
}

.img {
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.title-container {
    position: absolute;
    display: flex;
}

.title {
    z-index: 1;
    color: white;
}

.display-none {
    display: none;
}

@media screen and (min-width: 1024px) {
    .banner {
        display: flex;
        justify-content: center;
        margin: 0 100px 43px 100px;
    }

    .img-container {
        max-height: 223px;
        max-width: 1240px;
        border-radius: 25px;
    }

    .img {
        border-radius: 25px;
    }

    .title-container {
        top: 213px;
        max-width: 1240px;
    }

    .title {
        width: 705px;
        font-size: 48px;
        line-height: 142.6%;
        /* or 68px */
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .banner {
        display: flex;
        justify-content: center;
        margin: 0 60px 32.5px 60px;
    }

    .img-container {
        max-height: 150px;
        max-width: 920px;
        border-radius: 15px;
    }

    .img {
        border-radius: 15px;
    }

    .title-container {
        top: 155px;
        padding-left: 35px;
    }

    .title {
        width: 500px;
        font-size: 30px;
        line-height: 100%;
        /* or 24px */
    }
}

@media screen and (max-width: 767px) {
    .banner {
        margin: 0 20px 22px 20px;
    }

    .img-container {
        max-height: 111px;
        max-width: 740px;
        border-radius: 10px;
    }

    .img {
        border-radius: 10px;
        scale: 1.85;
    }

    .title-container {
        top: 100px;
        padding-left: 16px;
    }

    .title {
        width: 217px;
        font-size: 24px;
        line-height: 100%;
        /* or 24px */
    }
}

@media screen and (max-width: 312px) {
    .title-container {
        top: 118px;
    }
}

@media screen and (max-width: 280px) {
    .title {
        width: 150px;
    }
}
