.dropdown {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    background: #ff6060;
    border-radius: 5px;
    height: 30px;
}

.dropdown-container {
    min-width: 100%;
}

.title {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 13px;
    margin-left: 11px;
}

.arrow {
    width: 16px;
    margin-right: 7px;
    animation-name: scaleUp;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.29, 0.58, 0.71, 0.34);
    animation-delay: 350ms;
}

@keyframes scaleUp {
    from {
        scale: 1;
    }
    50% {
        scale: 1.6;
    }
    to {
        scale: 1;
    }
}

.no-rotate {
    transform: rotate(360deg);
    transition: transform 350ms cubic-bezier(1, -0.02, 0.64, 0.9);
}

.rotate {
    transform: rotate(180deg);
    transition: transform 350ms cubic-bezier(1, -0.02, 0.64, 0.9);
}

.text-container {
    background: #f7f7f7;
    color: #ff6060;
    height: fit-content;
    padding: 23px 7px 18px 11px;
    border-radius: 5px;
    position: relative;
    bottom: 6px;
    z-index: -1;
    min-width: 100%;
}

.text {
    margin: 0;
    font-size: 12px;
}

.text-font-size {
    margin: 0;
}

.display-none {
    display: none;
}

@media screen and (min-width: 1024px) {
    .dropdown-container {
        position: relative;
        top: -25px;
    }

    .dropdown {
        height: 47px;
        margin-top: 31px;
    }

    .title {
        font-size: 24px;
        margin-left: 18px;
    }

    .arrow {
        width: 24px;
        margin-right: 33px;
    }

    .text-container {
        padding: 33px 27px 19px 18px;
    }

    .text {
        margin: 0;
        font-size: 24px;
    }

    .radius {
        border-radius: 10px;
    }

    .font-size {
        font-size: 18px;
    }

    .text-font-size {
        font-size: 18px;
        line-height: 142.6%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .dropdown-container {
        position: relative;
        top: -12px;
    }

    .dropdown {
        height: 38px;
        margin-top: 22px;
    }

    .title {
        font-size: 18px;
        margin-left: 14px;
    }

    .arrow {
        width: 20px;
        margin-right: 20px;
    }

    .text-container {
        padding: 28px 17px 18px 14px;
    }

    .text {
        margin: 0;
        font-size: 18px;
    }

    .radius {
        border-radius: 7.5px;
    }

    .font-size {
        font-size: 15.5px;
    }

    .text-font-size {
        font-size: 15px;
        line-height: 142.6%;
    }
}
