.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 209px;
}

.logo {
    width: 122px;
    height: 39.44px;
}

.copyright-container {
    height: 46px;
    display: flex;
    align-items: flex-end;
}

.copyright {
    color: white;
    margin: 0;
    height: fit-content;
}

@media screen and (min-width: 1024px) {
    .logo-container {
        margin: 66px 0 28.56px 0;
    }

    .copyright {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo-container {
        margin: 64px 0 14.28px 0;
    }

    .copyright {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .logo-container {
        margin-top: 62px;
    }

    .copyright {
        font-size: 12px;
    }
}
