.star {
    height: 18px;
}

@media screen and (min-width: 1024px) {
    .star {
        height: 36px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .star {
        height: 27px;
    }
}
